body {
font-size: 12px;
font-family: Verdana, Arial, Helvetica, sans-serif;
background-color: #eee;
border-right: 1px solid black;
}
a:link, a:visited, a:active{
color: #000;
text-decoration: none;
border-bottom: solid #ccc 1px;
}
a:hover {
background-color: #ccc;
color: #000;
}
table {
font-size: 12px;
max-width: 800px;
}
th {
color: #fff;
font-size: 12px;
background-color: #000;
font-weight: bold;
text-align: center'
}
td.graytext {
background-color: #ccc;
text-align: center;
}
td.text {
background-color: #fff;
text-align: center;
}
ul {
list-style: none;
margin: 0;
padding: .5em;
}

ul li {
margin: 0;
}
h1 {
font-weight: normal;
}
